@mixin view-style($color, $bg-color) {

  height: 100%;

  color: $color;
  font-weight: bold;
  font-family: Helvetica;
  background-color: $bg-color;
}

body, html, div {
  height: 100%;
}



@import "view1";
@import "view2";


